<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Community and Code - {{page.title}}</title>

    <link rel="stylesheet" href="/community-and-code/stylesheets/styles.css">
    <link rel="stylesheet" href="/community-and-code/stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
		<header>
			<!-- logo -->
			<a href="/community-and-code"><h2>Community and Code</h2></a>
			<!--p class="view">
				<a href="https://github.com/NESCent/community-and-code">
					View the Project on GitHub
				</a>
			</p-->
			<ul>
				<li><a href="https://github.com/NESCent/community-and-code/zipball/master">Download <strong>ZIP File</strong></a></li>
				<li><a href="https://github.com/NESCent/community-and-code/tarball/master">Download <strong>TAR Ball</strong></a></li>
				<li><a href="https://github.com/NESCent/community-and-code">View On <strong>GitHub</strong></a></li>
			</ul>
			<h3>Concise guide</h3>
			<div><a href="/community-and-code/doc/concise_guide/planning/">Planning</a></div>
			<div><a href="/community-and-code/doc/concise_guide/recruiting/">Recruiting</a></div>
			<div><a href="/community-and-code/doc/concise_guide/managing/">Managing</a></div>
			<div><a href="/community-and-code/doc/concise_guide/remotes/">Remoting</a></div>
			<div><a href="/community-and-code/doc/concise_guide/followup/">Following up</a></div>
			<div><a href="/community-and-code/doc/concise_guide/facilities/">Facilities</a></div>
			<div>...for a NESCent hackathon</div>
			<br />			
			<h3>Sample forms and letters</h3>
			<div><a href="/community-and-code/doc/announcements">Announcements</a></div>
			<div><a href="/community-and-code/doc/sample_applications">Applications</a></div>
			<div><a href="/community-and-code/doc/form_letters">Letters</a></div>
			<br />			
			<h3>NESCent hackathons</h3>
			<div><a href="/community-and-code/data/01_phylohack_metadata">Phyloinformatics (2006)</a></div>
			<div><a href="/community-and-code/data/02_comparativer_metadata">Comparative methods in R (2007)</a></div>
			<div><a href="/community-and-code/data/03_dbinterop_metadata">Database interoperability (2009)</a></div>
			<div><a href="/community-and-code/data/04_vocamp_metadata">Phyloinformatics VoCamp (2009)</a></div>
			<div><a href="/community-and-code/data/05_gmodtools_metadata">GMOD Evo (2010)</a></div>
			<div><a href="/community-and-code/data/06_phylotastic1_metadata">Phylotastic 1 (2012)</a></div>
			<div><a href="/community-and-code/data/07_phylotastic2_metadata">Phylotastic 2 (2013)</a></div>
			<div><a href="/community-and-code/data/08_treeforall_metadata">Tree-for-all (2014)</a></div>
			<div><a href="/community-and-code/data/09_rpopgen_metadata">Population genetics in R (2015)</a></div>
			<br />
			<h3>Structured data</h3>
			<div><a href="/community-and-code/data/">Data about NESCent hackathons</a></div>					
		</header>
		<section>        
		{{content}}
		</section>
		<footer>
			<!-- credits, contact info -->
		</footer>    
    </div>
    <script src="javascripts/scale.fix.js"></script>    
  </body>
</html>
